.chs-select-container {
    width: 500px;
    height: auto;
    padding: 15px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px lightgray;
    box-sizing: border-box;
}

.chs-title-container {
    text-align: center;
}

.chs-select-section {
    
}

.chssection-button-container {
    text-align: center;
    margin-top: 35px;
}
.chssection-button {
    border: none;
    background: none;
    width: 80px;
    height: 45px;
    background-color: #028E0F;
    border-radius: 8px;
    outline: none;
    color: white;
}